:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

section {
	color: white;
	display: table;
	margin-left: auto;
	margin-right: auto;
	max-width: 1532px;
}

.container{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .texto{
    color: black;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate  (-50%,-50%);
  }

.row {
	width: 100%;
	height: 100px;
	margin: 10px auto;
  }
  .col-lg-3 {
	margin: 20px auto;
	float: left;
  }
  .col-lg-3 {
	width: 25%;
  }

.rojo {
  color:#fff;
  background-color:#FE0202 ;
}
.icono-rojo {
color:#FE0202 ;
}

.rojo {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: FE0202 ;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 50px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.rojo:hover {
    background: black;
    color: white;
}

.rojo:focus {
    outline: 0;
}

.rojo:active {
    transform: scale(0.98);
}
/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}

/* ---- ----- ----- Footer ----- ----- ----- */
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
  }